<!DOCTYPE html>
<html>
<body>
    <% books.forEach(function(book){ %>
        <div data-book-id="<%= book.id %>" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <div class="book">
                <a href="http://localhost:3000/book/<%= book.id %>">
                    <img src="./books-page_files/<%= book.id %>.jpg" alt="<%= book.title %>">
                    <div data-title="<%= book.title %>" class="blockI" style="height: 46px;">
                        <div data-book-title="<%= book.title %>" class="title size_text"><%= book.title %></div>
                        <div data-book-author="<%= book.author %>" class="author"><%= book.author %></div>
                    </div>
                </a>
                <a href="http://localhost:3000/book/<%= book.id %>">
                    <button type="button" class="details btn btn-success">Читать</button>
                </a>
            </div>
        </div>
    <% }); %>
</body>
</html>